/* TODO: ORGANIZE THIS CODE */

/* 
COLOR PALETTE
#FECA30
#1D6D2C
#684434
#FDF4D1
#9A4F17
#343D45
#FFF5DB
#A2938A
*/
@import url("https://fonts.cdnfonts.com/css/new-super-mario-font-u");

:root {
  --switch-color: #000;
  --back-cube-face-color: #ffd24c;
  --left-cube-face-color: #fdd86a;
  --right-cube-face-color: #f3b806;
  --front-cube-face-color: #feca30;
  --light-color: #f8f8a980;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "New Super Mario Font U", sans-serif;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcf7ea;
  width: 100%;
  height: 100vh;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 95vmin;
  height: 95vmin;
  border-radius: 40%;
  background: #343d45;
}

.cube {
  margin: 10vmin;
  height: 15vmin;
  width: 15vmin;
  position: relative;
}

.face {
  position: absolute;
  transform-origin: 0 0;
  display: flex;
  font-size: 18vmin;
  justify-content: center;
  align-items: center;
  color: #fff5db;
}

.light-top {
  width: 15vmin;
  height: 1.8vmin;
  transform: translateY(-1.8vmin) skewX(60deg) translateX(-3.3vmin);
}

.back-cube-face {
  background: var(--back-cube-face-color);
  height: 22.5vmin;
  width: 22.5vmin;
  transform-origin: 0 0;
  transform: perspective(50vmin) translateZ(-25vmin);
  top: -1.7vmin;
  right: -4.5vmin;
}

.left-cube-face {
  background: var(--left-cube-face-color);
  width: 15vmin;
  height: 3vmin;
  transform: skewY(30deg) rotate(90deg);
}

.right-cube-face {
  background: var(--right-cube-face-color);
  width: 15vmin;
  height: 3vmin;
  transform: skewY(30deg) rotate(-90deg) translateY(12vmin)
    translateX(-6.35vmin);
}

.front-cube-face {
  background: var(--front-cube-face-color);
  height: 15vmin;
  width: 15vmin;
}

.stick-base {
  transform-origin: 0 0;
  position: absolute;
  height: 1vmin;
  width: 20vmin;
  transform: rotate(90deg);
  border-radius: 0 0.5vmin 0.5vmin 0;
  left: 46.5vmin;
  top: 25vmin;
  background: #a2938a;
}

.base-lamp-top {
  position: absolute;
  height: 2vmin;
  width: 12vmin;
  background: #1d6d2c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 40vmin;
  top: 44vmin;
}

.base-lamp {
  position: absolute;
  height: 1vmin;
  width: 12vmin;
  background: #684434;
  left: 40vmin;
  top: 45vmin;
}

.base-lamp-botton {
  position: absolute;
  height: 3vmin;
  width: 12vmin;
  background: #684434;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 40vmin;
  top: 44.5vmin;
}

.switch {
  position: absolute;
  height: 0.4vmin;
  width: 10vmin;
  background: var(--switch-color);
  transform-origin: 0 0;
  transform: rotate(90deg);
  left: 50vmin;
  top: 25vmin;
  border-radius: 0 0.2vmin 0.2vmin 0;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  height: 1.2vmin;
  width: 1.2vmin;
  background-color: var(--switch-color);
  border-radius: 50%;
  left: 9.5vmin;
  bottom: -0.5vmin;
}

.light-bottom {
  width: 25vmin;
  height: 25vmin;
  position: absolute;
  top: 25vmin;
  left: 34.5vmin;
  clip-path: polygon(25% 0%, 70% 0%, 100% 100%, 0% 100%);
}

.light {
  visibility: hidden;
  background: var(--light-color);
}

.table-top {
  position: absolute;
  width: 50vmin;
  height: 10vmin;
  background: #9a4f17;
  top: 41.5vmin;
  transform: skewX(50deg);
}

.table-mid {
  position: absolute;
  width: 50vmin;
  height: 10vmin;
  background: #9a4f17;
  top: 43vmin;
  transform: skewX(50deg);
}

.table-left {
  position: absolute;
  background: #b66324;
  width: 1.7vmin;
  height: 12vmin;
  top: 43vmin;
  left: 24vmin;
  transform: skewY(39deg) rotate(90deg) translateY(2.2vmin);
}

.table-front {
  position: absolute;
  background: #b66324;
  height: 1.6vmin;
  width: 50vmin;
  top: 51.45vmin;
  left: 28.5vmin;
}
